<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
    <style>
      /* GOOGLE FONT*/
      @import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7686a6;
        height: 100vh;
      }
      .form_container {
        width: clamp(360px, 80%, 530px);
        height: clamp(180px, 50%, 330px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        border-radius: 16px;
        border: 2px solid snow;
      }

      .form_container form {
        display: flex;
        flex-direction: column;
        align-self: center;
        border-radius: 8px;
        border: 1px solid #c0c0c0cf;
        padding: 10px;
        width: clamp(250px, 70%, 370px);
        height: clamp(120px, 70%, 195px);
      }

      .form_container input {
        width: clamp(215px, 92%, 345px);
        margin-left: 10px;
        height: 40px;
        font-size: clamp(14px, 3vw, 16px);
        color: snow;
        border: none;
        background: transparent;
        border-bottom: 2px solid snow;
        outline: none;
      }
      .form_container input::placeholder {
        color: snow;
        font-family: "Kode Mono", monospace;
      }
      h1 {
        color: snow;
        font-size: clamp(24px, 6vw, 32px);
        position: absolute;
        top: 20%;
        font-family: "Kode Mono", monospace;
      }
      #btn {
        background: snow;
        font-family: "Kode Mono", monospace;
        color: #7686a6;
        font-size: clamp(14px, 3vw, 16px);
        width: 70%;
        height: 30px;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 5px;
        transition: 0.3s ease-out;
      }
      #btn:hover {
        transform: scale(0.96);
      }

      .account {
        text-decoration: none;
        color: snow;
        font-size: clamp(16px, 4vw, 18px);
        font-family: "Kode Mono", monospace;
        transition: 0.3s ease-in-out;
      }
      .account:hover {
        color: black;
      }
    </style>
  </head>
  <body>
    <h1>User Registration</h1>
    <div class="form_container">
      <form action="/signup" method="post">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="USERNAME"
          required
        /><br />
        <input
          type="email"
          id="email"
          name="email"
          placeholder="EMAIL"
          required
        /><br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="PASSWORD"
          required
        /><br />
        <input type="text" id="role" name="role" placeholder="ROLE" /><br />
        <input type="submit" value="Register" id="btn" class="submit" />
      </form>
    </div>
    <a href="/login" class="account">Already have account?</a>a
  </body>
</html>
